@page "/fetchdata"
@inject HttpClient Http

<h1>New Articles</h1>

<p>This component demonstrates fetching data from the server.</p>


@if (_isLoading)
{
    <h1><em>Loading...</em></h1>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Abstact</th>
                <th>Creator</th>
                <th>CreationTime</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var newArticle in newArticles)
            {
                <tr>
                    <td>@newArticle.Title</td>
                    <td>@newArticle.Abstract</td>
                    <td>@newArticle.Creator.Name</td>
                    <td>@newArticle.CreationDate</td>
                </tr>
            }
        </tbody>
    </table>
}
@functions {
    WikiaLib.Models.NewArticle[] newArticles;
    bool _isLoading = true;
    string _disabled => _isLoading ? "disabled" : null;

    protected override async Task OnInitAsync() => GetNewArticlesAsync();
    private async Task GetNewArticlesAsync()
    {
        _isLoading = true;
        newArticles = await Http.GetJsonAsync<WikiaLib.Models.NewArticle[]>("/sample-data/newarticles.json");
        _isLoading = false;
    }
}