<div class="card">
    <h1>@Tweeter</h1>
    <span class="text-wrap">
        @TweetContent
    </span>
</div>



@functions{
    [Parameter]
    string Tweeter { get; set; }
    string TweetContent { get; set; }
}
